---
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola </div>
    <div class="text-5xl font-bold">Soy lvaro Fern谩ndez</div>
    <div class="text-3xl py-3 font-bold">DevOps & Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Profesional en DevOps con experiencia en la integraci贸n y entrega continua, con habilidades en el desarrollo de c贸digo y formaci贸n de equipos. Busco contribuir con mis conocimientos y liderar proyectos tecnol贸gicos innovadores.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">ltimo Proyecto {"</>"}</div>
  </div>

  <HorizontalCard
    title="Astro"
    img="/astro.webp"
    desc="C贸digo de este Portfolio. Integrado en Vercel"
    url="https://github.com/alvarofernandezavalos/astro-portfolio"
    badge="NEW"
  />

</BaseLayout>
